html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.8rem;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1079deg);
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.6rem;
  }

  #info-panel {
    left: 0;
    height: auto !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }
  #hourly-forecast {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

.toggle-button {
  all: unset;
}

.toggle-button:hover {
  cursor: pointer;
  background: linear-gradient(rgba(54, 132, 206, 1) 0%, rgb(30, 80, 128) 100%);
}
